<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RationalLinearEquationSolver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RationalLinearEquationSolverDebug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2625C8DB300E3C8A00789CDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2625C8E8300E3C8B00789CDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2625C8F2300E3C8B00789CDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
